/* All main related CSS below */
body {
    background-color: #ffefde;
}

#container {    /* Contains the #nav, #content and #footer containers */
    width: 90%;
    position: relative;
    min-height: 100vh;
}

#nav {          /* navigation bar at the top of the page */
    position: relative;
    width: 100%;
    border-bottom: 1px solid #b6aa9c;
    padding: 10px 2%;
}

#content {      /* content container */
    min-height: 100%;
    margin: 0px auto;
    width: 70%;
    position: relative;
    padding-bottom: 80px; /* height of footer */
}

#footer {       /* footer at the borrom of the page */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #b6aa9c;
    padding: 20px 5% 0px;
    font-size: .8em;
    text-align: center;
}

p.meta {
    color: #666;
    font-size: 1em;
    font-style: italic;
    margin: 0em;
}

.nav-list {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin: 0px auto 0px; 
}
.nav-item {
    display: inline;
    margin-right: 20px;
}

.posts {
    font-size: 1.2em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

a {
    text-decoration: none;
    color: #0048bc;
}
a:hover {
    text-decoration: underline;
}
/* end main */




/* All post related CSS below */
div.post {
    border-top: 1px solid #b6aa9c;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

div.post h1 {
    font-size: 3em;
}

div.post h2 {
    font-size: 2em;
}

div.post h3 {
    font-size: 1.3em;
    margin: 1em auto 0.5em auto;
}

div.post h4 {
    font-size: 1.15em;
    text-decoration: none;
    font-style: none;
    margin: 0.5em auto 0.5em 1em;
}

div.post p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    margin: 0.2em 0em 0.5em 2em;
}

div.post ul { 
    margin: auto auto auto 1em; 
    font-size: inherit;
    list-style: circle outside;
}

div.post ul li {
    margin-bottom: 0.25em;
}

div.post ol {
    margin: 0px auto 20px;
    font-size: inherit;
    list-style: decimal
}
/* end post */