#pf_head {
    text-align: center;
}

#pf_body {
    border-top: 1px solid #b6aa9c;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

#pf_images {
    min-height: 400px;
    width: 60%;
    position: relative
}

#img_left {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 30%
}

#img_right {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 30%
}

#pf_image_display {
    z-index: 0;
}

.img_chevron {
    background-color: #ffffff3f;
    width: 64px;
    height: 128px;
}

.img_chevron:hover {
    background-color: #ffffff8f;
}