#pf_head {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#pf_body {
    border-top: 1px solid #b6aa9c;
}

#pf_preview {
    margin: 16px 0px 16px 0px;
    border-top: 1px solid #b6aa9c;
    border-bottom: 1px solid #b6aa9c;
}

#pf_image_box {
    width: 60%;
}

#pf_images {
    background-color: #f5ece2;
    border: 1px solid #b6aa9c;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

#img_left {
    position: absolute;
    z-index: 1;
    left: 0;
}

#img_right {
    position: absolute;
    z-index: 1;
    right: 0;
}

#pf_image_display {
    max-height: -webkit-fill-available;
    z-index: 0;
}

.img_chevron {
    background-color: #ffffff3f;
    width: 64px;
    height: 128px;
}

.img_chevron:hover {
    background-color: #ffffff8f;
}

#img_desc {
    height: 1em;
    text-align: center;
    font-style: italic;
}

#pf_links {
    border-top: 1px solid #b6aa9c;
    margin-top: 1em;
    text-align: center;

}

.list_hz {
    padding: 0px;
    list-style: none;
    margin: 0px auto 0px; 
}