#pf_head {
    text-align: center;
}

#pf_body {
    border-top: 1px solid #b6aa9c;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

#pf_images {
    height: 400px;
    width: 600px
}

#pf_image_array {
    display: none
}

#img_left {
    width: 64px;
    height: 64px;
    float: left;
    align-self: center
}
#img_right {
    width: 64px;
    height: 64px;
    float: right;
    align-self: center
}
