---
layout: default
title: Blog Posts
---
    <script type="text/javascript" src="/js/blog.js"></script>

    <br/><br/>
    <table id="filterHolder">
      <tr>
        <label for="filter">Filter by...</label>
      </tr>
      <tr>
        <td>
          <select id="filterList">
            <option value="none">All Posts</option>
            <option value="462">Capstone</option>
            <option value="362">Software Engineering</option>
            <option value="portfolio">Projects</option>
            <option value="other">Misc.</option>
          </select>
        </td>
        <td>
          <button id="filterButton" onclick="filterList()">Filter</button>
        </td>
      </tr>
    </table>

    <h2>{{ page.title }}</h2>
    <ul class="posts">

      {% for post in site.posts %}
        <li {{% if post.category %}}class="{{ post.category }}"{{% endif %}}><span>{{ post.date | date_to_string }}</span> → <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
