<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
  <div id="container">
    <nav id="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
       	<li class="nav-item"><a href="/about">About</a></li>
   	    <li class="nav-item"><a href="/blog">Blog</a></li>
   	  </ul>
    </nav>
    <div id="content">

      {{ content }}

    </div><!-- /#content -->
    <footer id="footer">
      <ul class="nav-list">
        <li class="nav-item"><a href="mailto:collinlbauer@gmail.com">email</a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/collin-bauer-88b1a8119/">LinkedIn</a></li>
        <li class="nav-item"><a href="https://github.com/collinlbauer">github.com/collinlbauer</a></li>
      </ul>
    </footer>
  </div>
  </body>
</html>
