<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
       	<li><a href="/about">About</a></li>
   	    <li><a href="/blog">Blog</a></li>
   	  </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer class="footer">
      <ul>
        <li><a href="mailto:collinlbauer@gmail.com">email</a></li>
        <li><a href="https://www.linkedin.com/in/collin-bauer-88b1a8119/">LinkedIn</a></li>
        <li><a href="https://github.com/collinlbauer">github.com/collinlbauer</a></li>
      </ul>
    </footer>
  </body>
</html>
