---
layout: default
---


<script type="text/javascript" src="/js/imagescroll.js"></script>
<link rel="stylesheet" type="text/css" href="/css/portfolio.css">

<div id="pf_image_array">{"images":[
    {% for img in page.images %}
    "{{ img }}"{% if forloop.index < page.images.size %},{% endif %}
    {% endfor %}
  ]}
</div>
<div id="pf_image_desc_array">{"image_desc":[
  {% for desc in page.image_desc %}
  "{{ desc }}"{% if forloop.index < page.image_desc.size %},{% endif %}
  {% endfor %}
]}
</div>

<h1>{{ page.title }}</h1>

<div class="post flex_vert">
  <br/>
  <div id="pf_head">
    (head goes here)
  </div>
  <div id="pf_body">
    {{ content }}
  </div>

  <div class="flex">
    <div id="pf_images">
      <img id="img_left" src="/images/icons/ch_left.png">
      <img id="img_right" src="/images/icons/ch_right.png">
      <img id="pf_image_display" src="">
      <div id="img_desc"></div>
    </div>

  </div>
  
  <br/>


  
</div>
