---
layout: default
---

<script type="text/javascript" src="/js/imagescroll.js"></script>
<link rel="stylesheet" type="text/css" href="/css/portfolio.css">
<div id="pf_image_array">{{ image_array }}</div>

<h1>{{ page.title }}</h1>

<div class="post flex">
  <br/>
  <div class="pf_head">
    {{ head }}
  </div>
  <div class="pf_body">
    {{ body }}
  </div>

  <div class="flex">
    <div class="pf_images">
      <img id="img_left" src="/images/icons/ch_left.png">
      <img id="img_right" src="/images/icons/ch_right.png">
      <div id="indicator"></div>
    </div>

  </div>
  
  <br/>


  
</div>
