---
layout: default
---
<h1>{{ page.title }}</h1>
{% if page.date %}
<p class="meta">{{ page.date | date_to_string }}</p>
{% endif %}
{% if page.edited %}
<p class="meta">Last edited {{ page.edited | date_to_string }}</p>
{% endif %}

<div class="post">
  <br/>
  {{ content }}
  <br/>

  <table id="prev_next">
    <tr>
      <td id="pn_previous">
        ← <a href="{{ page.prev }}">{{ page.prev_title }}</a>
      </td>
      <td id="pn_next">
        <a href="{{ page.next }}">{{ page.next_title }}</a> →
      </td>
    </tr>
  </table>

  
</div>
